@font-face{
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
}
@font-face{
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
}
body{
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: 'Product Sans Regular';
}
.paragraph{
    border-top: rgb(222, 50, 39) 3px solid;
}