body{
    background-color: rgb(10, 10, 10);
}
@font-face{
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
}
@font-face{
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
}
h1{
    text-decoration: underline;
    color: whitesmoke;
    font-family: 'Product Sans Black Regular'
}
h2{
    font-family: 'Product Sans Black Regular';
    text-align: center;
}
h3{
    color: white;
    font-family: 'Product Sans Black Regular'
}
p{
    text-size-adjust: 40px;
    font-family: 'Product Sans Regular';
    text-align: center;
}
.logo{
    height: 442px;
    width: 442px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    border-radius: 15px;
}
.container{
    display: flex;
}
.card{
    background: white;
    width: 452px;
    height: 452px;
    margin-right: 25px;
    border-radius: 15px;
    transition: transform 300ms;
}
.card-image{
    background-color: rgb(222, 50, 39);
    background-size: cover;
    height: 300px;
    border-radius: 15px 15px 0 0;
}
.sauber-logo{
    background-image: url('images/Sauber\ logó.png');
}
.Peter-Sauber{
    background-image: url('images/Peter\ Sauber.jpg');
}
.cars{
    background-image: url('images/Sauber\ C9.jpg');
}
.card a{
    background-color: rgb(222, 50, 39);
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    font-family: 'Product Sans Black Regular'
}
.card:hover{
    background-color: rgb(222, 50, 39);
    color: white;
    transform: scale(1.05);
}
.card2{
    background: white;
    width: 240px;
    height: 70px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}